body {
    padding: 0;
    margin: 0 auto;
    background-image: url('../img/fullimg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: contain;

}

.gradient {
    background-image: linear-gradient(to bottom right, hsl(hsl(22, 92%, 47%), hsl(22, 96%, 68%), hsl(22, 51%, 80%)));
    height: 100%;
    width: 100%;
    position: relative;
    z-index: 1;
}

/* 
#head {
    display: block;
    background: #E3F2FD;
    width: 100%;
    position: relative;
    top: -37px;
}

#logo {
    position: relative;
    top: 0px;
} */

legend {
    position: relative;
    top: -37px;
    color: #fff;
    font-size: 18px;
    font-family: sans-serif;

}

#box {
    position: relative;
    top: -37px;
    width: 98%;
    max-width: 650px;
    height: 250px;
    background-color: rgba(0, 0, 0, 0.1);
    border-radius: 2px;
    padding: 20px 0 0 0;
    margin: 0px auto;


}


/**------------USER------------**/
#user {
    border: 0px #ccc solid;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    height: 40px;
    font-size: 16px;
    display: block;
    width: 230px;
    text-align: center;
    border-radius: 5px;
    font-family: inherit
}

/**--------------------PASSWORD----------**/
#pass {
    border: 0px #ccc solid;
    color: #fff;
    background: rgba(255, 255, 255, 0.1);
    opacity: 1;
    height: 40px;
    font-size: 16px;
    display: block;
    margin: 5px;
    width: 230px;
    text-align: center;
    border-radius: 5px;
    font-family: inherit
}

/*---------------Boton---------*/
#boton {
    -webkit-appearance: none;
    color: #fff;
    background: #ff733c;
    background-image: url(../img/lock.png);
    background-repeat: no-repeat;
    background-position: center;
    opacity: 1;
    border: none;
    border-radius: 5px;
    height: 42px;
    width: 234px;
    font-size: 16px;
    font-weight: 400;
    outline: 0;
    text-transform: uppercase;
    letter-spacing: 1.5px;
    cursor: pointer
}

#boton:hover {
    background-color: #03c7e4;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease
}

.vertical-form .footer {
    position: relative;
    top: -37px;
    text-align: center;
    color: #ccc;
}

.vertical-form .footer a {
    text-decoration: none;
    color: #4285F4;
}

@media (max-width:450px) {}